@model ResetPasswordViewModel
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .form-gap {
            padding: 70px;
        }
    </style>
</head>
<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <div class="form-gap"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            @if (!ViewData.ModelState.IsValid)
                            {
                                <div class="alert alert-danger">
                                    <h4>Error(s) occurred:</h4>
                                    <ul>
                                        @foreach (var value in ViewData.ModelState.Values)
                                        {
                                            foreach (var error in value.Errors)
                                            {
                                                <li>@error.ErrorMessage</li>
                                            }
                                        }
                                    </ul>
                                </div>
                            }
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <p>Reset Password.</p>
                            <p>@Model.Email</p>
                            <div class="panel-body">
                                <form id="forgot-password-form" role="form" autocomplete="off" class="form" method="post" asp-controller="User" asp-action="ResetPassword">
                                    <input type="hidden" asp-for="Token" />
                                    <input type="hidden" asp-for="Email" />
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                            <input id="Password" name="Password" placeholder="New Password" class="form-control" type="password" asp-for="Password">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                            <input id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm New Password" class="form-control" type="password" asp-for="ConfirmPassword">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                                    </div>
                                </form>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
